* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Screen reader only */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    font-size: 16px;
    --padding-button: .3rem .6rem;
    --border-button: .5rem;
    --border-width: 2px;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

button {
    cursor: pointer;
    border: inherit;
    background: none;
}

:focus-visible {
    outline: 3px dashed black;
    outline-offset: 6px;
}

/* Bron: https://www.geeksforgeeks.org/how-to-add-skip-navigation-links-for-better-web-accessibility-in-html/ */
.skip-link {
    color: white; 
    padding: 1rem;
    position: absolute; 
    top: 3rem; 
    z-index: 9999;
    left: -10000px;
}

.skip-link:focus {
    left: 2rem; 
}

body {
    font-size: 16px;
    --padding-button: .3rem .6rem;
    --border-button: .5rem;
    --border-width: 2px;
}

/* Flex layout nav */
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;

    @media screen and (min-width: 800px) {
        gap: 1rem;
    }
}

/* Header boven de main */
header {
    position: fixed; 
    width: 100vw; 
    top: 0; 
    z-index: 999;
}

/* Zender logo */
.nav-logo {
    order: 1;

    @media screen and (min-width: 800px) {
        order: 0; 
    }
}

.nav-logo img {
    width: 110px;
}

/* Hamburger */
.nav-button {
    order: 0;

    @media screen and (min-width: 800px) {
        display: none;
    }
}

/* Hamburger afbeelding */
.nav-button img {
    width: 50px;
    transition: .3s ease-in;
}

/* Wanneer showMenu getoggled wordt */
.nav-button img.showMenu {
    content: url("../assests/hamburger-cross-white.svg");
    /* transition: .3s ease-in; */
}

/* Wanneer .showMenu class getoggled, verander afbeelding */
.nav-button img.showMenu {
    content: url("../assests/hamburger-cross-white.svg");
}

/* Call-to-action */
.nav-whatsapp {
    order: 2; 
    padding: var(--padding-button);
    border-radius: var(--border-button);
    border-width: var(--border-width);

    @media screen and (min-width: 800px) {
        display: flex; 
        align-items: center;
        gap: .5rem;   
        padding: var(--padding-button);     
        border-radius: var(--border-button);
        border-width: var(--border-width);
    }
}

/* Call-to-action afbeelding */
.nav-whatsapp img {
    width: 30px;

    @media screen and (min-width: 800px) {
        width: 25px;
    }
}

/* Call-to-action beschrijving */
.nav-whatsapp figcaption a{
    display: none;

    @media screen and (min-width: 800px) {
        display: inline;
    }
}

/* Links in navigatie */
.nav-links {
    position: absolute;
    width: 100vw; 
    translate: -150% 96.5px; 
    padding: 1rem;
    display: flex; 
    transition: .3s ease-in;

    /* Flex layout als parent */
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;

    @media screen and (min-width: 800px) {
        position: relative; 
        translate: 0; 
        order: 1; 
        width: auto;
        padding: 0; 
        transition: .3s ease-in;
        flex-grow: 2; 

        /* Flex layout als parent */
        flex-direction: row; 
        justify-content: start;
        gap: 2rem;
    }
}

/* Laat menu zien bij .showMenu class */
.nav-links.showMenu {
    translate: -1rem 96.5px;
    /* transition: .3s ease-in; */
} 

/* Border bottom bij 'RADIO' */
.nav-links li:nth-child(2) a {
    background-image:linear-gradient(white 0 0);
	background-size:100% .15rem;
    background-position: bottom right;
	background-repeat:no-repeat;
    padding-bottom: 5px;
}

.nav-links a {
    text-decoration: none;
		
	background-image:linear-gradient(white 0 0);
	background-size:0% .15em;
	background-position: right bottom;
	background-repeat:no-repeat;
    padding-bottom: 5px;
	
	transition: background-size .3s;
}

/* Bij hover, voeg border bottom toe */
.nav-links a:hover {
	background-size: 100% .15em;
	background-position: left bottom;
}

/* Flex layout navigatie PROGRAMMERING, DJ'S, PLAYLIST, FREQUENTIES */
.nav-radio {
    display: flex; 
    gap: 2rem;
    padding: 1rem;
    overflow-x: auto; 
    border-bottom: 1px solid #CCCCCC;
}

/* Border actieve link navigatie PROGRAMMERING, DJ'S, PLAYLIST, FREQUENTIES */
.nav-radio .text-highlight {
	background-image:linear-gradient(#E60063 0 0);
	background-size:100% .15rem;
	background-repeat:no-repeat;
    background-position: bottom right;
    padding-bottom: 5px;
}

.nav-radio a {
    text-decoration: none;
		
	background-image:linear-gradient(#E60063 0 0);
	background-size:0% .15em;
	background-position: right bottom;
	background-repeat:no-repeat;
    padding-bottom: 5px;
	
	transition: background-size .3s;
}

/* Bij hover, voeg border bottom toe */
.nav-radio a:hover {
	background-size: 100% .15em;
	background-position: left bottom;
}

/* Flex layout dagen van de week & scroll bij overflow horizontaal */
.nav-days {
    display: flex; 
    overflow-x: auto; 
    border-bottom: 1px solid #CCCCCC;
}

/* Border bij dagen van de week */
.nav-days span:first-of-type {
    padding: 1rem;
    width: 4rem;
    border-right: 1px solid #CCCCCC;    

    /* Flex layout als parent */
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Bij hover verander tekst kleur */
.nav-days span:first-of-type:hover {
    color: #E60063;
    transition: .2s ease-in-out;
}

/* Bij hover over het eerste span element, van het tweede list item, van de nav-days (ul); blijft de tekst wit */
.nav-days li:nth-child(2) span:first-of-type:hover {
    color: white; 
}

/* Nummer van datum op een eigen regel door display: block; */
.nav-days strong {
    display: block; 
}

.nav-days a:focus-visible {
    outline: 3px dashed black;  
    outline-offset: -.5rem;
    display: block;
}

/* Flex layout navigatie zenders */
.nav-zenders ul {
    display: flex;
    align-items: center; 
    gap: 1.5rem;
    padding: 1rem;
    overflow-x: auto;
    border-bottom: 1px solid #CCCCCC;

    @media screen and (min-width: 1100px) {
        display: none;
    }
}

/* Afbeeldingen navigatie zenders */
.nav-zenders ul img {
    width: 5rem;
}

/* Bij hover over logo, vergroot afbeelding */
/* .nav-zenders ul img:hover {
    scale: 1.1; 
    transition: .3s ease-in-out;
} */

/* Absolute positioning van navigatie met zenders */
.nav-zenders {
    position: absolute;
    width: 100vw;
    translate: 0% -100%;
    z-index: -1; 
    transition: .3s ease-in-out;
}

/* Wanneer class .showZenders getoggled, verander positie (met transition) */
.nav-zenders.showZenders {
    translate: 0% 0%;
}

/* Wanneer class .showZenders getoggled, verander afbeelding */
.nav-zenders button img.showZenders {
    content: url("../assests/arrow-up.svg");
}

/* Button navigatie zenders */
.nav-zenders button {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 0rem 4rem;
    border-radius: 0 0 25px 25px;
    position: absolute;
    left: 50%; 
    translate: -50%;
    top: 100%;

    @media screen and (min-width: 1100px) {
        display: none;
    }
}

main {
    margin-top: 17rem;
    margin-bottom: 5rem;
}

/* Tijdlijn */
aside {
    display: flex; 
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

/* Gestreepte line tussen uren */
aside > time::after {
    content: "------";
    display: block;
    position: absolute;
    rotate: 90deg;
    margin-top: .7rem;
    color: #CCCCCC;
}

/* Responsive font-size voor de timestamps */
aside time {
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

/* Vormgeving alle show-cards */
ol > li {
    border-radius: .5rem;
    filter: drop-shadow(0px 0px 8px #bebebe);
    overflow: hidden; 
}

/* Tijdlijn + Veronica */
.timeline-main-program {
    display: flex; 
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;

    @media screen and (min-width: 1100px) {
        justify-content: center;
        flex-grow: .5; 
        gap: 3rem;
        padding: 0; 
    }
}

/* FLEX Veronica programmering */
.main-programming {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

/* Vorgemving show-cards met details */
.show-card {
    max-width: 28rem;
    height: 100%; 

    /* GRID als parent */
    display: grid; 
    grid-template-columns: .1fr 1fr 2fr;
    grid-template-rows: auto auto 1fr auto;
}

/* Gekleurde lijn */
.colored-line {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: .5rem; 
}

/* Show titel */
.title-card {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end; 
    justify-self: start;
    text-transform: uppercase;
    padding-top: 1rem;
}

/* Show tijd */
.time-card {
    grid-column: 2/4;
    grid-row: 4/5;
    align-self: start;
    justify-self: start;
    padding: 0 0 0 1rem;
    
    /* Flex als parent */
    display: flex; 
    align-items: center;
    gap: .5rem;
}

/* Show beschrijving */
.info-card {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    width: 85%;
}

/* Show thumbnail */
.thumbnail-card {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    width: 60%;
}

/* Naam DJ */
.dj-card {
    grid-column: 2/4;
    grid-row: 4/5;
    align-self: end;
    justify-self: start;
    margin-top: 1.3rem;
    padding: 0 0 1rem 1rem;

    /* Flex als parent */
    display: flex; 
    align-items: center;
    gap: .5rem;
}

/* Link op card */
.link-card {
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: end;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%; 
    margin-right: 1rem;

    /* Grid als parent om afbeelding te centreren */
    display: grid; 
    place-items: center;
}

/* Grootte afbeelding link '>' symbol */
.link-card img {
    width: 1.2rem;
}

/* FLEX bij 1100px tijdlijn + main programming + overige programming */
.programming {
    @media screen and (min-width: 1100px) {
        display: flex; 
        gap: 2rem;
        justify-content: space-between;
    }
}

/* FLEX overige programma's */
.others-program {
    display: none; 

    @media screen and (min-width: 1100px) {
        flex-grow: 3; 
        
        /* FLEX als parent */
        display: flex; 
        justify-content: flex-end;
    }
}

/* Styling details */
details {
    cursor: pointer; 
    border-left: 1px solid #CCCCCC;
    height: 100%;

    ::marker {
        content: '';
    }
}

/* FLEX layout details wanneer open */
details[open] {
    flex-grow: 1; 
    padding: 0 1rem 1rem 1rem;
    height: 100%;
    /* height: 100vh;
    overflow: auto; */
    container: overig-details / inline-size;

    /* FLEX als parent */
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* Verticale text wanneer details gesloten */
details summary {
    writing-mode: vertical-lr;
    height: 100vh; 
    width: auto;

    /* display: flex; 
    align-items: center; */
}

.summary-content {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.summary-arrow {
    width: 30px; 
    rotate: -90deg; 
}

summary figure {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* summary figure figcaption {
	order: -1; 
} */

/* Horizontale text wanneer details geopend */
details[open] summary {
    writing-mode: horizontal-tb;
    width: 100%; 
    max-width: 28rem;
    height: fit-content; 
    padding: 1rem 0; 

    .summary-arrow {
        width: 30px; 
        rotate: 90deg; 
    }

    .summary-content {
        display: grid; 
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-between;
        gap: 0rem; 
    }

    .summary-content p {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .summary-content > img {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .summary-content figure {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: end;
        align-self: center; 
    }

    .summary-arrow {
        order: -1; 
    }
}

details summary img {
    width: 80px;
    rotate: 90deg;
}

details[open] summary img {
    rotate: 0deg;
}

/* FLEX layout cards in details */
details ol {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
}

/* Bij container kleiner dan 20rem, andere GRID LAYOUT show-cards */
@container overig-details (width < 20rem) {
    /* GRID layout show-cards op desktop */
    .others-program .show-card {
        /* Grid layout overige show cards */
        .show-card {
            grid-template-columns: .1fr auto;
            grid-template-rows: auto auto auto auto 1fr;
        }

        /* Gekleurde lijn */
        .colored-line {
            grid-column: 1/2;
            grid-row: 1/7;
        }

        /* Titel programmering */
        .title-card {
            grid-row: 1/2;
            grid-column: 2/-1;
            align-self: start; 
            justify-self: center;
            padding-top: .5rem;
            white-space: nowrap; 
        }

        /* Title wordt niet afgebroken en animatie gekoppeld */
        .scroll-title {
            animation: scroll-title 7s linear infinite;
            display: inline-block; 
            padding-left: 1.5rem; 
            white-space: nowrap;
        }
        
        .scroll-title::after {
            content: ''; 
            display: inline-block;
            width: 1rem; 
        }
                
        /* Tijd programmering */
        .time-card {
            grid-row: 2/3; 
            grid-column: 2/-1;
            align-self: end; 
            justify-self: center;
        }

        /* Beschrijving show */
        .info-card {
            display: none;
        }

        /* Afbeelding show */
        .thumbnail-card {
            grid-row: 3/4;
            grid-column: 2/-1;
            align-self: center; 
            justify-self: center;
            width: 40%;
        }

        /* Naam DJ op card */
        .dj-card {
            grid-row: 4/5; 
            grid-column: 2/-1;
            align-self: start; 
            justify-self: center;
            margin: 0; 
            padding: 0; 
        }

        /* Link op card */
        .link-card {
            grid-row: 5/6; 
            grid-column: 2/-1;
            align-self: center;
            justify-self: center;
            margin: .5rem;
        }
    }
}

/* Player */
footer {
    /* Grid layout, player in midden van pagina*/
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/* Grid layout voor content in player */
.player {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    filter: drop-shadow(0px 0px 8px #bebebe);
    border-radius: .5rem;
    width: 90vw;
    max-width: 35rem;
    height: 7rem;
    padding: .5rem;
    position: fixed;
    bottom: 1.5rem;
    z-index: 3;
}

/* Titel van show */
.show-name {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
    text-transform: uppercase;
}

/* Titel van liedje */
.track-name-artist {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: start;

    /* Flex als parent om item te centreren */
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* Album afbeelding */
.track-art {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: left;
    width: 4.5rem;
    border-radius: .2rem;
}

.button-label {
    grid-column: 4/5;
    grid-row: 1/3;
    align-self: center;
    justify-self: right;
    cursor: pointer; 

    /* FLEX als parent */
    display: flex; 
    flex-direction: column;
    align-items: center;

    p {
        background-image:linear-gradient(#e60063 0 0);
        background-size:0% .15em;
        background-position: right bottom;
        background-repeat:no-repeat;
        padding-bottom: 2px;
        
        transition: background-size .3s;
    }
}

.button-label:hover {
    p {
        background-size: 100% .15em;
        background-position: left bottom;
    }
}

/* Play knop */
.playpause-track {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* transition: .2s ease-in; */

    /* Grid als parent om items te centreren */
    display: grid;
    place-items: center;
}

/* .playpause-track:hover {
    background-color: rgb(251, 0, 238);
    transition: .2s ease-in;
} */

/* Play SVG afbeelding */
.playpause-track img {
    width: 1rem;
    margin-left: .2rem;
}

/* Pauze knop wanneer track aan het spelen is */
.playpause-track img.pause-track {
    content: url("../assests/pause.svg");
    margin-right: .2rem;
}

/* Pauze knop wanneer track aan het spelen is */
.playpause-track img.play-track {
    content: url("../assests/play.svg");
}

.playpause-track img.loadingTrack {
    content: url("../assests/loading.svg");
    width: 25px;
    margin-right: .2rem; 
    animation: rotate 1.5s 2 ease-in-out;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    } 
    to {
        rotate: 360deg;
    }
}

.slider-container {
    grid-column: 1/-1;
    grid-row: 3/4;

	/* FLEX als parent */
	display: flex; 
	justify-content: space-around;
	align-items: center;
	gap: .5rem;
}

/* Change the opacity when mouse is hovered */
.seek-slider:hover {
    opacity: 1.0;
}

/* Breedte slider */
.seek-slider {
    width: 100%;
}

/* Current time & duration niet laten zien */
/* .current-time,
.total-duration {
    display: none;
} */

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e60063;
    border-radius: .3rem .3rem .3rem .3rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    /* Override default look */
    appearance: none;
    margin-top: -4px;

    /* Centers thumb on the track */
    background-color: #e60063;
    border: solid 2.5px white; 
    filter: drop-shadow(0px 0px 8px black);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #e60063;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #e60063;
    border-radius: .3rem .3rem .3rem .3rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #e60063;
    border: solid 2.5px white; 
    filter: drop-shadow(0px 0px 8px black);
    border: none;

    /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    background-color: #e60063;
    border: solid 2.5px white; 
    filter: drop-shadow(0px 0px 8px black);
    outline-offset: 0.125rem;
}


