* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Screen reader only */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Resets */
a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

button {
    cursor: pointer;
    border: inherit;
    background: none;
}

/* Outline focus */
:focus-visible {
    outline: 3px dashed black;
    outline-offset: 6px;
}

/* MARK: SKIP LINK */
/* Skip link styling */
.skip-link {
    color: white; 
    padding: 1rem;
    position: absolute; 
    top: 3rem; 
    z-index: 9999;
    left: -10000px;
}

/* Skip link bij focus */
.skip-link:focus {
    left: 2rem; 
}

body {
    font-size: 16px;
    --padding-button: .3rem .6rem;
    --border-button: .5rem;
    --border-width: 2px;
}

main {
    margin-bottom: 5rem;
}

/* MARK: NAV */
/* Flex layout nav */
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;

    @media screen and (min-width: 800px) {
        gap: 1rem;
    }
}

/* Header boven de main */
header {
    position: fixed; 
    width: 100vw; 
    top: 0; 
    z-index: 999;
}

/* Zender logo */
.nav-logo {
    order: 1;

    @media screen and (min-width: 800px) {
        order: 0; 
    }
}

.nav-logo img {
    width: 110px;
}

/* Hamburger */
.nav-button {
    order: 0;

    @media screen and (min-width: 800px) {
        display: none;
    }
}

/* Hamburger afbeelding */
.nav-button img {
    width: 50px;
    transition: .3s ease-in;
}

/* Wanneer showMenu getoggled wordt */
.nav-button img.showMenu {
    content: url("../assests/hamburger-cross-white.svg");
    /* transition: .3s ease-in; */
}

/* Wanneer .showMenu class getoggled, verander afbeelding */
.nav-button img.showMenu {
    content: url("../assests/hamburger-cross-white.svg");
}

/* Call-to-action */
.nav-whatsapp {
    order: 2; 
    padding: var(--padding-button);
    border-radius: var(--border-button);
    border-width: var(--border-width);

    @media screen and (min-width: 800px) {
        display: flex; 
        align-items: center;
        gap: .5rem;   
        padding: var(--padding-button);     
        border-radius: var(--border-button);
        border-width: var(--border-width);
    }
}

/* Call-to-action afbeelding */
.nav-whatsapp img {
    width: 30px;

    @media screen and (min-width: 800px) {
        width: 25px;
    }
}

/* Call-to-action beschrijving */
.nav-whatsapp figcaption a{
    display: none;

    @media screen and (min-width: 800px) {
        display: inline;
    }
}

/* Links in navigatie */
.nav-links {
    position: absolute;
    width: 100vw; 
    translate: -150% 96.5px; 
    padding: 1rem;
    display: flex; 
    transition: .3s ease-in;

    /* Flex layout als parent */
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;

    @media screen and (min-width: 800px) {
        position: relative; 
        translate: 0; 
        order: 1; 
        width: auto;
        padding: 0; 
        transition: .3s ease-in;
        flex-grow: 2; 

        /* Flex layout als parent */
        flex-direction: row; 
        justify-content: start;
        gap: 2rem;
    }
}

/* Laat menu zien bij .showMenu class */
.nav-links.showMenu {
    translate: -1rem 96.5px;
} 

/* Border bottom bij 'RADIO' */
.nav-links li:nth-child(2) a {
    background-image:linear-gradient(white 0 0);
	background-size:100% .15rem;
    background-position: bottom right;
	background-repeat:no-repeat;
    padding-bottom: 5px;
}

/* Background image & size */
.nav-links a {
	background-image:linear-gradient(white 0 0);
	background-size:0% .15em;
	background-position: right bottom;
	background-repeat:no-repeat;
    padding-bottom: 5px;
	transition: background-size .3s;
}

/* Bij hover background size 100% */
.nav-links a:hover {
	background-size: 100% .15em;
	background-position: left bottom;
}

/* Flex layout navigatie PROGRAMMERING, DJ'S, PLAYLIST, FREQUENTIES */
.nav-radio {
    display: flex; 
    gap: 2rem;
    padding: 1rem;
    overflow-x: auto; 
    border-bottom: 1px solid #CCCCCC;
}

/* Background image & size PROGRAMMERING, DJ'S, PLAYLIST, FREQUENTIES */
.nav-radio .text-highlight {
	background-image:linear-gradient(#E60063 0 0);
	background-size:100% .15rem;
	background-repeat:no-repeat;
    background-position: bottom right;
    padding-bottom: 5px;
}

/* Background image & size */
.nav-radio a {		
	background-image:linear-gradient(#E60063 0 0);
	background-size:0% .15em;
	background-position: right bottom;
	background-repeat:no-repeat;
    padding-bottom: 5px;
	
	transition: background-size .3s;
}

/* Bij hover, voeg border bottom toe */
.nav-radio a:hover {
	background-size: 100% .15em;
	background-position: left bottom;
}

/* Flex layout dagen van de week & scroll bij overflow horizontaal */
.nav-days {
    display: flex; 
    overflow-x: auto; 
    border-bottom: 1px solid #CCCCCC;
}

/* Border bij dagen van de week */
.nav-days span:first-of-type {
    padding: 1rem;
    width: 4rem;
    border-right: 1px solid #CCCCCC;    

    /* Flex layout als parent */
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Bij hover verander tekst kleur */
.nav-days span:first-of-type:hover {
    color: #E60063;
    transition: .2s ease-in-out;
}

/* Bij hover over het eerste span element, van het tweede list item, van de nav-days (ul); blijft de tekst wit */
.nav-days li:nth-child(2) span:first-of-type:hover {
    color: white; 
}

/* Nummer van datum op een eigen regel door display: block; */
.nav-days strong {
    display: block; 
}

.nav-days a:focus-visible {
    outline: 3px dashed black;  
    outline-offset: -.5rem;
    display: block;
}

/* Flex layout navigatie zenders */
.nav-zenders ul {
    display: flex;
    align-items: center; 
    gap: 1.5rem;
    padding: 1rem;
    overflow-x: auto;
    border-bottom: 1px solid #CCCCCC;

    @media screen and (min-width: 1100px) {
        display: none;
    }
}

/* Afbeeldingen navigatie zenders */
.nav-zenders ul img {
    width: 5rem;
    transition: .2s ease-in; 
}

.nav-zenders ul img:hover {
    scale: 1.2;
    transition: .2s ease-in; 
}

/* Absolute positioning van navigatie met zenders */
.nav-zenders {
    position: absolute;
    width: 100vw;
    translate: 0% -100%;
    z-index: -1; 
    transition: .3s ease-in-out;
}

/* Wanneer class .showZenders getoggled, verander positie (met transition) */
.nav-zenders.showZenders {
    translate: 0% 0%;
}

/* Button navigatie zenders */
.nav-zenders button {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 0rem 4rem;
    border-radius: 0 0 25px 25px;
    position: absolute;
    left: 50%; 
    translate: -50%;
    top: 100%;

    /* FLEX als parent */
    display: flex; 
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1100px) {
        display: none;
    }

    img {
        rotate: 90deg;
    }
}

/* Wanneer class .showZenders getoggled, verander afbeelding */
.nav-zenders button img.showZenders {
    rotate: -90deg;
}

.nav-zenders button span::after {
    content: "Open";
}

.nav-zenders button span.showZenders::after {
    content: "Sluit";
}

.main-program-title {
    margin-bottom: 1rem;
}

/* Margin-top op main, zodat zichtbaar is */
.timeline-main-program {
    margin-top: 17.8rem;
    position: relative; 
}

/* MARK: TIMELINE */
aside {
    display: flex; 
    flex-direction: column;
    gap: 3rem;
    position: relative;
    margin-top: 2rem;
}

/* Gestreepte line tussen uren */
aside > time::after {
    content: "------";
    display: block;
    position: absolute;
    rotate: 90deg;
    margin-top: .7rem;
    color: #CCCCCC;
}

/* Responsive font-size voor de timestamps */
aside time {
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

/* Vormgeving alle show-cards */
ol > li {
    border-radius: .5rem;
    filter: drop-shadow(0px 0px 8px #bebebe);
    overflow: hidden; 
}

/* MARK: MAIN PROGRAMMERING */
/* Tijdlijn + Veronica */
.timeline-main-program {
    display: flex; 
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;

    @media screen and (min-width: 1100px) {
        justify-content: center;
        flex-grow: .5; 
        gap: 3rem;
        padding: 0; 
    }
}

/* FLEX Veronica programmering */
.main-programming {
    display: flex; 
    flex-direction: column;
    gap: .3rem;
}

/* MARK: SHOW CARD */
/* Vorgemving show-cards met details */
.show-card {
    max-width: 28rem;
    /* height: 100%;  */

    /* GRID als parent */
    display: grid; 
    grid-template-columns: .1fr 1fr 2fr;
    grid-template-rows: auto auto 1fr auto;
}

/* Gekleurde lijn */
.colored-line {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: .5rem; 
}

/* Show titel */
.title-card {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end; 
    justify-self: start;
    text-transform: uppercase;
    padding-top: 1rem;
}

/* Show tijd */
.time-card {
    grid-column: 2/4;
    grid-row: 4/5;
    align-self: start;
    justify-self: start;
    padding: 0 0 0 1rem;
    
    /* Flex als parent */
    display: flex; 
    align-items: center;
    gap: .5rem;
}

/* Show beschrijving */
.info-card {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    width: 85%;
}

/* Show thumbnail */
.thumbnail-card {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    width: 60%;
}

/* Naam DJ */
.dj-card {
    grid-column: 2/4;
    grid-row: 4/5;
    align-self: end;
    justify-self: start;
    margin-top: 1.3rem;
    padding: 0 0 1rem 1rem;

    /* Flex als parent */
    display: flex; 
    align-items: center;
    gap: .5rem;
}

/* Link op card */
.link-card {
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: end;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%; 
    margin-right: 1rem;

    /* Grid als parent om afbeelding te centreren */
    display: grid; 
    place-items: center;
}

/* Grootte afbeelding link '>' symbol */
.link-card img {
    width: 1.2rem;
}

/* GRID layout en styling cards 2 uur */
.no-description {
    color: transparent;
}

/* HEIGHT show cards */
.one-hour {
    height: 5.8rem;

    grid-template-rows: 1fr;
    grid-template-columns: .1fr auto 1fr auto;

    .colored-line {
        grid-row: 1/-1;
        grid-column: 1/2;
    }

    .title-card {
        /* grid-row: 1/2; */
        grid-column: 3/4;
        align-self: center;
        justify-self: center;
        padding: 0; 
    }

    .time-card {
        display: none;
    }

    .info-card {
        display: none; 
    }

    .thumbnail-card {
        grid-row: 1/3;
        grid-column: 2/3;
        align-self: center;
        width: 4.5rem;
    }

    .dj-card {
        display: none; 
    }

    .link-card {
        grid-row: 1/2; 
        grid-column: 4/5;
        
    }
}

.two-hours {
	/* height: 9.5rem; */

    .info-card {
        display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    }

    .thumbnail-card {
        grid-row: 1/4;
        align-self: end;
        width: 5rem;
        padding: 0; 
    }

    .time-card {
        display: none; 
    }
}

.three-hours {
	height: 12.5rem;
}

.three-hours-hp {
    height: 13rem;
}

.four-hours {
	height: 17.5rem;
}

.six-hours {
    height: 25rem;
}

.six-hours-hp {
    height: 28rem;
}

.eight-hours {
    height: 34rem;
}

/* FLEX bij 1100px tijdlijn + main programming + overige programming */
.programming {
    @media screen and (min-width: 1100px) {
        display: flex; 
        gap: 2rem;
        justify-content: space-between;
    }
}

/* FLEX overige programmas */
.others-program {
    display: none; 

    @media screen and (min-width: 1100px) {
        flex-grow: 3; 

        /* FLEX als parent */
        display: flex; 
        justify-content: flex-end;
    }
}

/* MARK: DETAILS */
/* Styling details (gesloten)*/
details {
    /* cursor: pointer;  */
    border-left: 1px solid #CCCCCC;
    height: 100%;
    padding-top: 17rem;

    ::marker {
        content: '';
    }
}

/* FLEX layout cards in details */
details ol {
    display: flex; 
    flex-direction: column; 
    gap: .25rem;
}

/* Verticale text wanneer details gesloten & height summary */
details summary {
    writing-mode: vertical-lr;
    height: calc(100vh - (81px + 57px + 89.5938px));
    width: auto;
    cursor: pointer;
}

/* FLEX layout summary */
summary {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* Afbeelding radiozenders */
details summary img {
    width: 80px;
    rotate: 90deg;
}

/* FLEX layout .figure */
summary .figure {
    writing-mode: horizontal-tb;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "button"
    "label";
    gap: .1rem;

    /* Styling container '>' */
    .summary-arrow {
        grid-area: button; 
        width: 30px; 
        rotate: 90deg; 
    }

    .details-figcaption {
        grid-area: label;
        rotate: 0deg;
    }
}

/* Container van '>' */
.summary-arrow {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%; 
    background-color: #afadad; 
    transition: .3s; 

    /* FLEX als parent om items te centreren */
	display: flex; 
    flex-direction: column;
	align-items: center; 
	justify-content: center;
}

/* Voor container met link naar */
.summary-arrow a {
    /* GRID als parent om items te centreren */
    display: grid; 
    place-items: center;    
}

/* Afbeelding in .figure '>' */
.summary-arrow img{
    width: 1.2rem; 
    rotate: -180deg; 
}

/* Styling figcaption */
details summary .details-figcaption {
	background-image:linear-gradient(#E60063 0 0);
	background-size: 0% .15rem ;
	background-repeat:no-repeat;
    background-position: right bottom;
    padding-bottom: 3px;
}

/* Styling figcaption bij hover */
details summary:hover {
    .details-figcaption {
        text-decoration: none;
        background-image:linear-gradient(#E60063 0 0);
        background-size: 100% .15rem;
        background-repeat:no-repeat;
        background-position: left bottom;        
        transition: background-size .3s;
        padding-bottom: 3px;
    }

    .summary-arrow {
        opacity: .8;
        transition: .3s; 
    }
}

/* MARK: DETAILS[OPEN] */
/* Styling & layout details bij [OPEN] */
/* FLEX layout details wanneer open */
details[open] {
    flex-grow: 1; 
    padding: 0 1rem 1rem 1rem;
    height: 100%;
    padding-top: 17rem;
    container: overig-details / inline-size;

    /* FLEX als parent */
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* Figcaption tekst 'Open' niet zichtbaar wanneer details[open] */
details[open] .details-figcaption {
    visibility: hidden;
    position: relative; 
}

/* Figcaption tekst verandert bij details[open] */
details[open] .details-figcaption::after {
    visibility: visible;
    position: absolute; 
    content: 'Sluit';
    translate: -110%; 
}

/* Styling summary bij details[open] */
details[open] summary {
    writing-mode: horizontal-tb;
    width: 100%; 
    max-width: 28rem;
    height: fit-content; 
    padding: 0 0 0 0; 

    /* FLEX layout */
    summary {
        display: flex; 
        justify-content: space-between; 
    }

    /* Afbeelding radio zender */
    img {
        rotate: 0deg; 
    }
}

/* Bij container kleiner dan 20rem, andere GRID LAYOUT show-cards */
@container overig-details (width < 20rem) {
    /* GRID layout show-cards op desktop */
    .others-program .show-card {
        /* Grid layout overige show cards */
        .show-card {
            grid-template-columns: .1fr auto;
            grid-template-rows: auto auto auto auto 1fr;
        }

        /* Gekleurde lijn */
        .colored-line {
            grid-column: 1/2;
            grid-row: 1/7;
        }

        /* Titel programmering */
        .title-card {
            grid-row: 1/2;
            grid-column: 2/-1;
            align-self: start; 
            justify-self: center;
            padding-top: .5rem;
            white-space: nowrap; 
        }

        /* Title wordt niet afgebroken en animatie gekoppeld */
        .scroll-title {
            animation: scroll-title 7s linear infinite;
            display: inline-block; 
            padding-left: 1.5rem; 
            white-space: nowrap;
        }
        
        .scroll-title::after {
            content: ''; 
            display: inline-block;
            width: 1rem; 
        }
        
        /* Tijd programmering */
        .time-card {
            grid-row: 2/3; 
            grid-column: 2/-1;
            align-self: end; 
            justify-self: center;
        }

        /* Beschrijving show */
        .info-card {
            display: none;
        }

        /* Afbeelding show */
        .thumbnail-card {
            grid-row: 3/4;
            grid-column: 2/-1;
            align-self: center; 
            justify-self: center;
            width: 5rem;
        }

        /* Naam DJ op card */
        .dj-card {
            grid-row: 4/5; 
            grid-column: 2/-1;
            align-self: start; 
            justify-self: center;
            margin: 0; 
            padding: 0; 
            /* white-space: nowrap; */
        }

        /* Link op card */
        .link-card {
            grid-row: 5/6; 
            grid-column: 2/-1;
            align-self: center;
            justify-self: center;
            margin: .5rem;
        }
    }

    /* Een uur durende shows */
    .one-hour {
        .thumbnail-card {
            display: none; 
        }
    }


    /* Lay-out en styling summary bij details[open] */
    details[open] summary {
        writing-mode: horizontal-tb;
        width: 100%; 
        max-width: 28rem;
        height: fit-content; 
        display: grid; 
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-between;
        gap: 0rem; 

        p {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        img {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .figure {
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: end;
            align-self: center; 
        }
    }
}

@keyframes scroll-title {
    0% {
        transform: translateX(15%); /* Start from the left */
    }
    50% {
        transform: translateX(-15%); /* Move completely out of view to the left */
    }
    100% {
        transform: translateX(15%); /* Start from the left */
    }
}

/* MARK: FOOTER */
/* Player */
footer {
    /* Grid layout, player in midden van pagina*/
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/* Grid layout voor content in player */
.player {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    filter: drop-shadow(0px 0px 8px #bebebe);
    border-radius: .5rem;
    width: 90vw;
    max-width: 35rem;
    height: 7rem;
    padding: .5rem;
    position: fixed;
    bottom: 1.5rem;
    z-index: 3;
}

/* Titel van show */
.show-name {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
    text-transform: uppercase;
}

/* Titel van liedje */
.track-name-artist {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: start;

    /* Flex als parent om item te centreren */
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* Album afbeelding */
.track-art {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: left;
    width: 4.5rem;
    border-radius: .2rem;
}

/* Layout en styling button & tekst */
.button-label {
    grid-column: 4/5;
    grid-row: 1/3;
    align-self: center;
    justify-self: right;
    cursor: pointer; 

    /* FLEX als parent */
    display: flex; 
    flex-direction: column;
    align-items: center;

    p {
        background-image:linear-gradient(#e60063 0 0);
        background-size:0% .15em;
        background-position: right bottom;
        background-repeat:no-repeat;
        padding-bottom: 2px;
        transition: background-size .3s;
    }
}

/* Bij hover */
.button-label:hover {
    p {
        background-size: 100% .15em;
        background-position: left bottom;
    }
}

/* Play knop */
.playpause-track {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: .2s ease;

    /* GRID als parent om items te centreren */
    display: grid;
    place-items: center;
}

/* Hover play/pause button */
.playpause-track:hover {
    opacity: .8;
    transition: .2s ease;
}

/* Hover play/pause button wanneer nummer afspeelt */
.playpause-track:hover.playpause-track {
    opacity: .8;
    transition: .2s ease;
}

/* Background-color bij laden van nummer */
.playpause-track.loadingTrack {
    background-color: #f594be;
}

/* Play SVG afbeelding */
.playpause-track img {
    width: 1rem;
    margin-left: .2rem;
}

/* Pauze knop wanneer track aan het spelen is */
.playpause-track img.pause-track {
    content: url("../assests/pause.svg");
    margin-right: .2rem;
}

/* Pauze knop wanneer track aan het spelen is */
.playpause-track img.play-track {
    content: url("../assests/play.svg");
}

.playpause-track img.loadingTrack {
    content: url("../assests/loading.svg");
    width: 25px;
    margin-right: .2rem; 
    animation: rotate 1.5s 2 ease-in-out;
}

/* Draai animatie loading icoon*/
@keyframes rotate {
    from {
        rotate: 0deg;
    } 
    to {
        rotate: 360deg;
    }
}

/* Progress bar layout */
.slider-container {
    grid-column: 1/-1;
    grid-row: 3/4;

	/* FLEX als parent */
	display: flex; 
	justify-content: space-around;
	align-items: center;
	gap: .5rem;
}

/* Change the opacity when mouse is hovered */
.progress-bar:hover {
    opacity: 1.0;
}

/* Breedte slider */
.progress-bar {
    width: 100%;
}

.seek-slider {
    width: 100%;
}

/* MARK: INPUT player */
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e60063;
    border-radius: .3rem .3rem .3rem .3rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    /* Override default look */
    appearance: none;
    margin-top: -4px;

    /* Centers thumb on the track */
    background-color: #e60063;
    border: solid 2.5px white; 
    filter: drop-shadow(0px 0px 8px black);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #e60063;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #e60063;
    border-radius: .3rem .3rem .3rem .3rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #e60063;
    border: solid 2.5px white; 
    filter: drop-shadow(0px 0px 8px black);
    border: none;

    /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    background-color: #e60063;
    border: solid 2.5px white; 
    filter: drop-shadow(0px 0px 8px black);
    outline-offset: 0.125rem;
}

/* MARK: a:hover RESET */
/* @media (pointer: coarse) {
    a:hover {
        all: revert-layer; 
    }

    span:hover {
        all: revert-layer; 
    }

    li:hover {
        all: revert-layer; 
    }

    ul:hover {
        all: revert-layer; 
    }

    summary:hover {
        all: revert-layer; 
    }

    p:hover {
        all: revert-layer;
    }

    button:hover {
        all: revert-layer;
    }

    input:hover {
        all: revert-layer; 
    }
} */




